Pendientes de cocinar
<ul>
  @for (pedido of pendientesCocinar; track pedido; let index = $index) {
  <li>
    ({{ pedido.number }}) - {{ pedido.description }}
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="enCoccion"
      (click)="cocinarPedido(pedido, index)"
    >
      Cocinar
    </button>
  </li>
  }
</ul>

Pedidos en cocción
<ul>
  @for (pedidoCoccion of pedidosEnCoccion; track pedidoCoccion; let index = $index) {

    <li>
      ({{ pedidoCoccion.number }}) {{ pedidoCoccion.name }} -
      {{ pedidoCoccion.description }}
    </li>
  }
</ul>

<button
  class="btn btn-primary"
  type="submit"
  [disabled]="!enCoccion"
  (click)="terminarPedido(pedidoCoccion)"
>
  Pedido terminado!
</button>
